body {
    margin: 0 auto;
    background-image: url(industria2.bmp);
    background-position: top bottom;
    background-repeat: no-repeat;
}

div {
    padding-top: 55px;
}

nav {
    padding: 5px;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-right: 15px;
}

nav ul {
    text-align: center;
}

.parte1 {
    display: block;
    padding-top: 3rem;
    width: 83%;
    height: auto;
    max-width: 90%;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li :hover {
    color: black;
    opacity: 0.8;
    
}

nav ul img {
    width: 20vh;
    margin-right: 20px;
    min-width: auto;
}

main{
    width: 100%;
    max-width: 100%;
    align-items: center;
}

main li {
    display: inline-block;
    padding-inline: 40px;
    align-items: center;
    color: #ffffff;
    max-width: 100%;
}

main h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    margin-top: 40px;
    background-color: #F18101; 
    border-radius: 15px;
    margin-bottom: 10px;
}

main ul :hover {
    border-radius:50%;
    transition: 1s;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

main img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 35px;
}

form input{
    border: none;
    background-color: rgb(255,255,255,0.5);
    border-radius: 30px;
    outline: none;
    padding: 10px 35px;
    max-width: 300px;
    font-size: 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form button {
    background: none;
    border: none;
    font-size: 35px;
}

footer {
    background-image: url(imagem-de-fundo-ruído-abstrato-preto-uso-para-textura-design-manipulação-fotos-181584925.jpg);
    padding-top: 25px;
    margin-top: 55px;
}

footer p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;
    color: rgb(255,255,255,0.5);
}

/* Scroll Bar  */
::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-track {
    background: rgb(255,255,255,0.8);
}

::-webkit-scrollbar-thumb {
    background: #4f4fFF;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #4f4fFF;
}


/* Scroll Bar   */